/* ----- This work is licensed under the Creative Commons Attribution-NonCommercial 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by-nc/4.0/. ----- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

*{
	margin: auto;
    padding: 0;
}

html, body{
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #222024;
	color: #222024;
    position: relative;
    height: %100;
}

ul{
	list-style-type: none;
}

h2{
    font-size: 28px;
    padding-bottom: 10px;
    border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e9e7eb;
}

a{
	text-decoration: none;
	color: inherit;
    font-size: 18px;
}

a:hover{
    color: #f6d793;
    transition: ease-in-out 0.1s;
}

/* ----- Containters ----- */

#container{
	text-align: center;
	color: #e9e7eb;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%); 
    transform: translate(-50%, 50%);
}

#container li{
	padding: 10px;
}

#container4stuff{
	display: inline-block;
	width: 170px;
	padding: 30px;
	vertical-align: top;
}
